USE [master]
GO
/****** Object:  Database [TUP_VINOTECA]    Script Date: 28/2/2021 13:43:45 ******/
CREATE DATABASE [TUP_VINOTECA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TUP_VINOTECA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\TUP_VINOTECA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TUP_VINOTECA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\TUP_VINOTECA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TUP_VINOTECA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TUP_VINOTECA]
GO
/****** Object:  Table [dbo].[Bodegas]    Script Date: 28/2/2021 13:43:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bodegas](
	[idBodega] [int] IDENTITY(1,1) NOT NULL,
	[nombreBodega] [varchar](200) NOT NULL,
 CONSTRAINT [PK_Bodegas] PRIMARY KEY CLUSTERED 
(
	[idBodega] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vinos]    Script Date: 28/2/2021 13:43:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vinos](
	[codigo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](200) NOT NULL,
	[bodega] [int] NOT NULL,
	[presentacion] [int] NOT NULL,
	[precio] [float] NOT NULL,
	[fecha] [date] NOT NULL,
 CONSTRAINT [PK_Vinos] PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Vinos]  WITH CHECK ADD  CONSTRAINT [FK_Vinos_Vinos] FOREIGN KEY([bodega])
REFERENCES [dbo].[Bodegas] ([idBodega])
GO
ALTER TABLE [dbo].[Vinos] CHECK CONSTRAINT [FK_Vinos_Vinos]
GO
USE [master]
GO
